[Unit]
Description=Apply skeleton files to existing user homes
After=local-fs.target
Before=display-manager.service
\\
ConditionPathIsDirectory=/etc/skel

[Service]
Type=oneshot
ExecStart=/usr/libexec/infrastructure/apply-skel

[Install]
WantedBy=multi-user.target
