[Unit]
Description=Render FreeRADIUS LDAP configuration
After=local-fs.target
Before=freeradius.service
ConditionPathIsDirectory=/var/lib/containers/freeradius

[Service]
Type=oneshot
ExecStart=/usr/libexec/infrastructure/freeradius-prepare
