[Unit]
Description=Prepare the Gogs rootless user service
Wants=systemd-logind.service
After=systemd-logind.service
Before=user@1007.service
RequiresMountsFor=/var/srv/git /var/lib/containers

[Service]
Type=oneshot
ExecStart=/usr/bin/install -d -m 0750 -o git -g git /var/srv/git/.config
ExecStart=/usr/bin/install -d -m 0750 -o git -g git /var/srv/git/.config/systemd
ExecStart=/usr/bin/install -d -m 0750 -o git -g git /var/srv/git/.config/systemd/user
ExecStart=/usr/bin/install -d -m 0750 -o git -g git /var/srv/git/.config/systemd/user/timers.target.wants
ExecStart=/usr/bin/ln -sfn /usr/lib/systemd/user/podman-auto-update.timer /var/srv/git/.config/systemd/user/timers.target.wants/podman-auto-update.timer
ExecStart=/usr/bin/loginctl enable-linger git
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
