[Unit]
Description=Sync AccountsService profile for nick
After=local-fs.target
Before=accounts-daemon.service gdm.service
ConditionPathExists=/var/home/nick

[Service]
Type=oneshot
ExecStart=/usr/libexec/nick-account

[Install]
WantedBy=multi-user.target
