[Desktop Entry]
Type=Application
Name=Recommended Setup
Comment=Apply the recommended desktop defaults
Exec=/usr/bin/recommended
Icon=emblem-default
Categories=System;
OnlyShowIn=GNOME;
X-GNOME-Autostart-enabled=true
