[Unit]
Description=Update Suricata rules
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/suricata-sync-rules
ExecStartPost=/usr/bin/systemctl try-reload-or-restart suricata.service
