[Unit]
Description=Update system Flatpaks
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0
ConditionPathExists=/usr/bin/flatpak
ConditionPathExists=/usr/libexec/infrastructure/update-system-flatpaks

[Service]
Type=oneshot
Restart=on-failure
RestartSec=30s
ExecStart=/usr/bin/flatpak update --system --noninteractive
ExecStart=/bin/sh -c '[ -x /usr/libexec/infrastructure/fapolicyd-flatpak-sync ] && /usr/libexec/infrastructure/fapolicyd-flatpak-sync'

[Install]
WantedBy=multi-user.target
