[Unit]
Description=Gitea rootless forge
ConditionPathExists=/var/lib/containers/gitea/config
ConditionPathExists=/var/lib/containers/gitea/data

[Container]
Image=docker.gitea.com/gitea:1-rootless
AutoUpdate=registry
User=1007:1007
UserNS=keep-id:uid=1007,gid=1007
Environment=GITEA__server__DOMAIN=git.nick.nas
Environment=GITEA__server__ROOT_URL=https://git.nick.nas/
Environment=GITEA__server__START_SSH_SERVER=true
Environment=GITEA__server__SSH_DOMAIN=git.nick.nas
Environment=GITEA__server__SSH_LISTEN_PORT=2222
Environment=GITEA__server__SSH_PORT=2222
PublishPort=8929:3000/tcp
PublishPort=2222:2222/tcp
Volume=/var/lib/containers/gitea/data:/var/lib/gitea:Z
Volume=/var/lib/containers/gitea/config:/etc/gitea:Z
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
