[Unit]
Description=Prepare the NFSv4 export root
Requires=artifacts-prepare.service
After=artifacts-prepare.service
PartOf=nfs-server.service
RequiresMountsFor=/var/lib/containers /var/srv/ssd /var/srv/docs /var/srv/music/touhou /var/srv/books /var/srv/photos

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/infrastructure/nfs-root-prepare
ExecStop=/usr/bin/umount --recursive /run/infrastructure-nfs
