[Unit]
Description=Minecraft Java server
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/itzg/minecraft-server:2026.5.4@sha256:f364bae78a0027aee72b01b9b532b1ae0990b3ee8cadbb6a3bc25db77418a25f
Environment=EULA=TRUE
Environment=TZ=Europe/Amsterdam
Environment=TYPE=PAPER
Environment=MEMORY=4G
Environment=ENABLE_RCON=TRUE
Environment=ENABLE_WHITELIST=TRUE
Environment=ENFORCE_WHITELIST=TRUE
Memory=5G
User=1003
Group=1003
PidsLimit=1024
Network=host
Volume=minecraft-java.volume:/data
ShmSize=4g

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=180
TimeoutStopSec=180
CPUQuota=400%

[Install]
WantedBy=multi-user.target
