[Unit]
Description=Podman - caddy web service
Requires=caddy-prepare.service
After=caddy-prepare.service

[Container]
Image=docker.io/library/caddy:latest
AutoUpdate=registry
Memory=256M
PidsLimit=256
ShmSize=7168b
PodmanArgs=--network=host
Volume=/etc/caddy.conf:/etc/caddy/Caddyfile:ro,Z
Volume=/var/www/git:/srv/web:ro,Z
Volume=/var/srv/ssd/caddy/data:/data:Z
Volume=/var/srv/ssd/caddy/config:/config:Z

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900
MemoryHigh=384M
MemoryMax=512M
CPUQuota=50%
IOWeight=100

[Install]
WantedBy=default.target
