[Unit]
Description=Podman - cockpit web service

[Container]
Image=quay.io/cockpit/ws:latest
AutoUpdate=registry
PodmanArgs=--privileged --pid=host --network=host -v /etc/cockpit/cockpit.conf:/etc/cockpit/cockpit.conf:ro,Z -v /:/host

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
