[Unit]
Description=Podman - cockpit web service

[Container]
Image=quay.io/cockpit/ws:latest
AutoUpdate=registry
Memory=512M
PidsLimit=512
PodmanArgs=--privileged --pid=host --network=host -v /:/host
Exec=/container/label-run --port 443

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900
MemoryHigh=768M
MemoryMax=1G
CPUQuota=100%
IOWeight=100

[Install]
WantedBy=default.target
