[Unit]
Description=FreeRADIUS backed by FreeIPA LDAP
Wants=network-online.target freeradius-prepare.service freeipa-bootstrap-radius.service
After=network-online.target freeradius-prepare.service freeipa-bootstrap-radius.service
Requires=freeradius-prepare.service freeipa-bootstrap-radius.service
ConditionPathExists=/var/lib/containers/freeradius
ConditionPathExists=/var/lib/containers/freeradius/secrets/ldap-bind-password
ConditionPathExists=/var/lib/containers/freeradius/secrets/clients.conf

[Container]
Image=docker.io/freeradius/freeradius-server:latest
ContainerName=freeradius
AutoUpdate=registry
PublishPort=1812:1812/udp
PublishPort=1813:1813/udp
Volume=/usr/share/bootcontainer/freeradius/clients.conf:/etc/raddb/clients.conf:ro,Z
Volume=/usr/share/bootcontainer/freeradius/sites-enabled/default:/etc/raddb/sites-enabled/default:ro,Z
Volume=/var/lib/containers/freeradius/config/mods-enabled/ldap:/etc/raddb/mods-enabled/ldap:ro,Z
Volume=/var/lib/containers/freeradius/secrets/clients.conf:/etc/raddb/secret-clients.conf:ro,Z

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
