[Unit]
Description=GitLab Community Edition
ConditionPathExists=/var/lib/containers/gitlab/config
ConditionPathExists=/var/lib/containers/gitlab/logs
ConditionPathExists=/var/lib/containers/gitlab/data

[Container]
Image=docker.io/gitlab/gitlab-ce:latest
Environment=GITLAB_OMNIBUS_CONFIG=external_url 'http://nas:8929'; gitlab_rails['gitlab_shell_ssh_port'] = 2222
PublishPort=8929:8929/tcp
PublishPort=2222:22/tcp
Volume=/var/lib/containers/gitlab/config:/etc/gitlab:Z
Volume=/var/lib/containers/gitlab/logs:/var/log/gitlab:Z
Volume=/var/lib/containers/gitlab/data:/var/opt/gitlab:Z
AutoUpdate=registry
ShmSize=256m

[Service]
Restart=always
TimeoutStartSec=1800
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
