[Unit]
Description=GitLab Runner
ConditionPathExists=/var/lib/containers/gitlab-runner/config/config.toml

[Container]
Image=docker.io/gitlab/gitlab-runner:alpine
AutoUpdate=registry
Volume=/var/lib/containers/gitlab-runner/config:/etc/gitlab-runner:Z
Volume=/var/lib/containers/gitlab-runner/cache:/cache:Z
Volume=/run/podman/podman.sock:/var/run/docker.sock
PodmanArgs=--security-opt label=disable

[Service]
Restart=always
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
