[Unit]
Description=Podman - Jellyfin streaming service
ConditionPathExists=/var/lib/containers/jellyfin
ConditionPathExists=/var/lib/containers/jellyfin/cache
ConditionPathExists=/var/srv/music

[Container]
Image=ghcr.io/jellyfin/jellyfin:latest
AutoUpdate=registry
PodmanArgs=-p 8096:8096 -p 8920:8920 -p 7359:7359/udp -p 1900:1900/udp -v /var/apps/jellyfin:/config:Z -v /var/apps/jellyfin/cache:/cache:Z -v /var/music:/music:Z -v /var/books:/books:Z

[Service]
User=music
Restart=always
TimeoutStartSec=180

[Install]
WantedBy=default.target
