[Unit]
Description=Nextcloud
ConditionPathExists=/var/lib/containers/nextcloud

[Container]
Image=docker.io/library/nextcloud:apache
Environment=SQLITE_DATABASE=nextcloud
PublishPort=8081:80/tcp
Volume=/var/lib/containers/nextcloud:/var/www/html:Z
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
