[Unit]
Description=Container image registry
ConditionPathExists=/var/lib/containers/registry

[Container]
Image=docker.io/library/registry:2
Environment=REGISTRY_STORAGE_DELETE_ENABLED=true
Memory=512M
PidsLimit=256
PublishPort=5000:5000/tcp
Volume=/var/lib/containers/registry:/var/lib/registry:Z
AutoUpdate=registry

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=180
MemoryHigh=768M
MemoryMax=1G
CPUQuota=100%
IOWeight=50

[Install]
WantedBy=multi-user.target
