[Unit]
Description=Uptime Kuma
ConditionPathExists=/var/lib/containers/uptime-kuma

[Container]
Image=docker.io/louislam/uptime-kuma:2
ContainerName=uptime-kuma
AutoUpdate=registry
Memory=512M
PidsLimit=512
PodmanArgs=--network=host
SecurityLabelDisable=true
Volume=/var/lib/containers/uptime-kuma:/app/data

[Service]
RestartSec=5
TimeoutStartSec=900
TimeoutStopSec=180
MemoryHigh=768M
MemoryMax=1G
CPUQuota=100%
IOWeight=50

[Install]
WantedBy=multi-user.target
