name: Workstation

on:
  push:
    branches:
      - main
      - master
    paths:
      - "workstation/**"

  schedule:
    - cron: "0 3 * * *"

  workflow_dispatch: {}

env:
  IMAGE_NAME: ghcr.io/noobping/workstation

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Virtualization
        uses: docker/setup-qemu-action@v3

      - name: Build tools
        uses: docker/setup-buildx-action@v3

      - name: Repository
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=schedule,pattern={{date 'YYYYMMDD'}}
          labels: |
            org.opencontainers.image.source=${{ github.repositoryUrl }}
            org.opencontainers.image.description=Nick's bootable container
            org.opencontainers.image.title=Workstation

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: ./workstation
          file: Containerfile
          platforms: linux/amd64,linux/arm64
          push: true
          pull: true
          build-args: |
            UID=1000
            GID=1000
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max