polkit.addRule(function(action, subject) {
  if (!(subject.local && subject.active)) {
    return polkit.Result.NOT_HANDLED;
  }

  if (action.id == "dev.noobping.workstation.fapolicyd-podman-sync") {
    return polkit.Result.YES;
  }

  var deniedAccountAdmin = [
    "org.freedesktop.accounts.set-login-option",
    "org.freedesktop.accounts.user-administration"
  ];

  if (deniedAccountAdmin.indexOf(action.id) >= 0) {
    return polkit.Result.NO;
  }

  var allowedSelfService = [
    "org.gnome.controlcenter.user-accounts.administration",
    "org.freedesktop.accounts.change-own-password",
    "org.freedesktop.accounts.change-own-user-data"
  ];

  if (allowedSelfService.indexOf(action.id) >= 0) {
    return polkit.Result.YES;
  }

  return polkit.Result.NOT_HANDLED;
});
